body {
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: Arial, sans-serif;
    background-image: url("https://bipagcifah.files.wordpress.com/2021/06/rgb_fbiis_2013_03_02_01-1920x1080-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

a:hover {
    color: rgb(28, 124, 124)
}

.container {
    background-color: rgb(255, 255, 255); /* Green rectangle with transparency */
    padding: 100px;
    margin: auto; /* Margin to still see a little bit of background */
    max-width: 1000px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1, h2, h3, p {
    color: rgb(125, 136, 136);
}


main {
    display: block;
    margin: auto;
    text-align: justify;
}

#to_show_when_generate {
    display: none;
}

.courses {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 10px;
}

#generated {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    gap: 10px;
}

.box {
    height: 150px;
}

.logo {
    flex: 0 0 auto;
    margin-right: 20px;
}

.content {
    margin: auto;
}

footer {
    background-color: #ffffff;
    color: rgb(95, 95, 95);
    padding: 20px;
    text-align: center;
}

.footer-images {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

    .footer-images img {
        width: 300px; /* Adjust image width as needed */
        margin: 0 25px; /* Adjust spacing between images */
    }
